---
// foundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/foundations/elements/Text.astro";
import Link from "@/components/foundations/elements/Link.astro";
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
// Component
import BlogEntry from "@/components/blog/BlogEntry.astro";
import BlogSearch from "@/components/blog/BlogSearch.astro";
// Sections
import Subscribe from "@/components/blog/Subscribe.astro";
// Content
import { getCollection } from "astro:content";
const allPostsUnsorted = await getCollection("posts");
// Sort the posts in descending order by publication date (newest to oldest)
const allPosts = allPostsUnsorted.sort(
  (a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate)
);
// Tags
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-32 pb-4">
      <div class="max-w-xl text-balance">
        <Text
          tag="h1"
          variant="displayMD"
          class="font-serif font-medium tracking-tight brand-heading-color"
        >
          Email that shows up — not ghosted by spam filters
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 brand-text-color">
          Tired of playing inbox roulette? Our delivery actually delivers. No
          spells, no praying — just reliable email that lands where it's
          supposed to.
        </Text>
      </div>
      <div class="flex items-center mt-8 gap-2">
        <BlogSearch />
        <div
          class="relative flex h-full overflow-x-scroll gap-2 scrollable-content snap-x snap-proximity scrollbar-hide"
        >
          {
            tags.map((tag) => (
              <Link
                size="xs"
                variant="muted"
                title={tag}
                aria-label={tag}
                href={`/blog/tags/${tag}`}
                class="capitalize brand-text-color"
              >
                {tag}
              </Link>
            ))
          }
        </div>
      </div>

      <div
        class="mt-12 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 gap-y-24"
      >
        {allPosts.map((post) => <BlogEntry post={post} />)}
      </div>
    </Wrapper>
  </section>
  <Subscribe />
</BaseLayout>
