---
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";
import { getFormattedPrice } from "../utils/getFormattedPrice";
import SanityImage from "./SanityImage.astro";

type Props = {
	product: CollectionEntry<"products">;
};

const { product } = Astro.props;


const creator = await getEntry('creators', product.data.creator.id)



const price = getFormattedPrice(product.data.price);
---

<a class="product-card"
data-product-title={product.data.name}
data-creator-name={creator.data.alias}
data-price={price}
data-astro-prefetch
href={`/${creator.data.slug}/products/${product.data.slug}`}>
  <article>
    <SanityImage node={product.data.imageWithAlt} width={800}  />
    <span class="sr-only">
      <h3>{product.data.name}</h3>
      <p>{new Date(product.data.publishedAt).getFullYear()}</p>
    </span>
  </article>
</a>

<style>
  .product-card {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-content: start;
    max-width: 300px;
  }
  div {
    background: var(--color-placeholder);
  }
  h3,
  p {
    margin: 0;
  }
  h3 {
    grid-area: title;
  }
  p {
    justify-self: end;
    grid-area: meta;
  }
</style>
