---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Link from "@/components/fundations/elements/Link.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import SanityImage from "@/components/fundations/elements/SanityImage.astro";
import PortableText from "@/components/fundations/elements/PortableText.astro";
import type { Hero } from "@/data/sanity";

interface Props {
  hero?: Hero;
}

const { hero } = Astro.props as Props;

---

<section class="hero-2">
  <Wrapper variant="standard" class="pt-32 pb-4 overflow-hidden">
    <div class="grid gap-12 grid-cols-1 lg:grid-cols-3">
      <div class="flex flex-col justify-between h-full">
        <div class="text-left text-balance">
          <Text
            tag="h1"
            variant="displayMD"
            class="font-serif font-medium tracking-tight text-heading-text-color"
          >
            {hero?.header || "Hero Header Text"}
          </Text>
          {Array.isArray(hero?.subheader) && hero.subheader.length > 0 ? (
            <div class="prose max-w-xl mt-4 text-body-text-color prose-p:m-0 prose-p:mb-3">
              <PortableText value={hero.subheader} />
            </div>
          ) : (
            <Text tag="p" variant="textBase" class="max-w-xl mt-4 text-body-text-color">
              {"No more guessing games. Your emails get delivered, show up where they should, and scale like a champ."}
            </Text>
          )}
        </div>

        <div class="flex flex-wrap items-center justify-center w-full mt-10 just gap-2">
          {(hero?.primaryCtaLabel && hero?.primaryCtaHref) && (
            <Link size="sm" variant="accent" href={hero.primaryCtaHref}>{hero.primaryCtaLabel}</Link>
          )}
          {(hero?.secondaryCtaLabel && hero?.secondaryCtaHref) && (
            <Link size="sm" variant="muted" href={hero.secondaryCtaHref}>{hero.secondaryCtaLabel}</Link>
          )}
        </div>
      </div>
      {hero?.image?.asset?._ref && (
        <SanityImage
          image={hero.image}
          class="w-full h-auto rounded-xl lg:col-span-2 lg:-mb-12"
        />
      )}
    </div>
  </Wrapper>
</section>
